body{
    background-color: black;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

@media only screen and (max-width:320px){
    /* <!--Este mediaquerie se ejecutará sólo cuando la resolución horizontal sea menor de 320 píxeles--> */
  }
  
@media only screen and (min-width:980px){
    /* <!--Este mediaquerie se ejecutará sólo cuando la resolución horizontal sea mayor de 980 píxeles--> */
}
@media only screen and (min-width:320px) and (max-width:480px){
    /* <!--Se ejecutará sólo cuando la resolución horizontal se encuentre entre 320 y 480 píxeles--> */
}

/*
@media only screen and (max-width:320px){
    <!--Este mediaquerie se ejecutará sólo cuando la resolución horizontal sea menor de 320 píxeles-->
}
  
@media only screen and (min-width:980px){
    <!--Este mediaquerie se ejecutará sólo cuando la resolución horizontal sea mayor de 980 píxeles-->
}
@media only screen and (min-width:320px) and (max-width:480px){
    <!--Se ejecutará sólo cuando la resolución horizontal se encuentre entre 320 y 480 píxeles-->
}
*/
