.logo-lr{
    background-color:red;
    text-align: center;
    padding: 10px;
    margin: 0px;
}
#logo{
    width: 40%;
    max-width: 460px;
    min-width: 225px;
}

#menu{
    margin-top: 0px;
    background-color:rgb(66, 65, 65) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    list-style: none;
    padding: 3px;
}
.enlace{
    margin-top: 0px;
    float: left;
    padding: 0px;
}
.enlace a{
    color: white;
    text-decoration: none;
    font-family: "Roboto,sans-serif";
    font-size: 1em;
}
.ref-enlace{
    float: none;
    text-align: left;
    color: rgba(255, 0, 0, 0.705);
    font-family: sans-serif;
    font-weight: bold;
    margin: 1px;
}
.titulo-noticia{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1px;
    font-size: 2em;
}
#texto{
    background-color:beige;
    color: rgb(77, 75, 75);
    margin-bottom: 0px;
    text-align: justify;
    font-family: 'Roboto';
}
@media only screen and (max-width: 700px) {
    #imagen{
        float: none;
        width: 100%;  
    }
    /* Si se selecciona se oculta la lista*/
    #check:checked  ~ ul{
        display:none;
    } 
    /* oculta el cuadrado de check */
    #check{
        display: none;
    }
    #lbl-check{
        margin: 3px;
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }
    #menu{
        display: table-caption;
    }
}
@media only screen and (min-width: 701px) {
    #imagen{
        float: right;
        width: 50%;
        padding:5px;
        padding-left: 2%;
        padding-bottom: 1%;
        
    }    
    #check{
        display: none;
    }
    #lbl-check{
        display: none;
    }
}