#pie p{
    float: right;
    background-color:yellow;
    margin: 2px;
}
#texto{
    background-color:green;
    margin-bottom: 0px;
    text-align: justify;
    font-family: 'Times New Roman';
}
@media only screen and (max-width: 500px) {
    #imagen{
        float: none;
        width: 100%;  
    }    
}
@media only screen and (min-width: 501px) {
    #imagen{
        float: right;
        width: 50%;
        padding:5px;
        padding-left: 2%;
        padding-bottom: 1%;
        
    }    
}